<?xml version="1.0"?>
<robot name="RobotAF_MEN">

  <material name="orange">
    <color rgba="1 0.65 0.1 1"/>
  </material>

  <material name="gray">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  
  <link name="base_link"/>

  <link name="base">
    <visual>
      <geometry>
        <box size="0.47 0.47 0.03"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
         <box size="0.47 0.47 0.03"/> 
      </geometry> 
    </collision>
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base"/>
    <origin xyz="0 0 -0.295" rpy="0 0 0"/>
  </joint>


  <link name="base_bottom">
    <visual>
      <geometry>
        <box size="0.47 0.47 0.03"/>
      </geometry>
      <material name="gray"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="base_to_base_bot" type="fixed">
    <parent link="base"/>
    <child link="base_bottom"/>
    <origin xyz="0 0 -0.215"/>
  </joint>


  <link name="s1">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.185"/>
      </geometry>
      <material name="gray"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="base_to_s1" type="fixed">
    <parent link="base"/>
    <child link="s1"/>
    <origin xyz="0.23 0.23 -0.1075"/>
  </joint>

  <link name="s2">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.185"/>
      </geometry>
      <material name="gray"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="s1_to_s2" type="fixed">
    <parent link="s1"/>
    <child link="s2"/>
    <origin xyz="-0.46 0 0"/>
  </joint>

  <link name="s3">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.185"/>
      </geometry>
      <material name="gray"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="s1_to_s3" type="fixed">
    <parent link="s1"/>
    <child link="s3"/>
    <origin xyz="0 -0.46 0"/>
  </joint>

  <link name="s4">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.185"/>
      </geometry>
      <material name="gray"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="s1_to_s4" type="fixed">
    <parent link="s1"/>
    <child link="s4"/>
    <origin xyz="-0.46 -0.46 0"/>
  </joint>


  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.1"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <cylinder length="0.03" radius="0.1"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="right_wheel_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="right_wheel"/>
    <origin xyz="0 -0.17 -0.195"/>
  </joint>


  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.03" radius="0.1"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <cylinder length="0.03" radius="0.1"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="left_wheel_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="left_wheel"/>
    <origin rpy="0 0 0" xyz="0 0.17 -0.195"/>
  </joint>

  <link name="soporte1">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <sphere radius="0.02"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5e-2"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="soporte1_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="soporte1"/>
    <origin rpy="0 0 0" xyz="0.1 0.1 -0.275"/>
  </joint>

  <link name="soporte2">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <sphere radius="0.02"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5e-2"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="soporte2_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="soporte2"/>
    <origin rpy="0 0 0" xyz="-0.1 0.1 -0.275"/>
  </joint>

 <link name="soporte3">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <sphere radius="0.02"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5e-2"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="soporte3_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="soporte3"/>
    <origin rpy="0 0 0" xyz="0.1 -0.1 -0.275"/>
  </joint>

  <link name="soporte4">
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="white"/>
    <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>

    <collision>
      <geometry>
         <sphere radius="0.02"/>
      </geometry> 
    </collision>

    <inertial>
      <mass value="0.5e-2"/>
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09"
               iyy="1.1192413e-05" iyz="-1.4400107e-11"
               izz="2.0712558e-05" />
    </inertial>

  </link>

  <joint name="soporte4_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="soporte4"/>
    <origin rpy="0 0 0" xyz="-0.1 -0.1 -0.275"/>
  </joint>

  <link name="laser"/>

  <joint name="scan_merge" type="fixed">
    <parent link="base"/>
    <child link="laser"/>
    <origin rpy="0 0 0" xyz="0.13 0 0.036"/>
  </joint>

  <link name="camera_link"/>

  <joint name="l515" type="fixed">
    <parent link="base"/>
    <child link="camera_link"/>
    <origin rpy="0 0 0" xyz="0.26 0 -0.042"/>
  </joint>

  <link name="camara3d"/>

  <joint name="camara3d" type="fixed">
    <parent link="base"/>
    <child link="camara3d"/>
    <origin rpy="0 0 0" xyz="0.26 0 0.036"/>
  </joint>

  <link name= "ultrasonido1"/>

  <joint name="us1" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido1"/>
    <origin rpy="0 0 0" xyz="0.3 0 0"/>
  </joint>

  <link name= "ultrasonido2"/>

  <joint name="us2" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido2"/>
    <origin rpy="0 0 0.785375" xyz="0.2 0.2 0"/>
  </joint>

  <link name= "ultrasonido3"/>

  <joint name="us3" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido3"/>
    <origin rpy="0 0 1.57075" xyz="0 0.3 0"/>
  </joint>

  <link name= "ultrasonido4"/>

  <joint name="us4" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido4"/>
    <origin rpy="0 0 2.35613" xyz="-0.2 0.2 0"/>
  </joint>

  <link name= "ultrasonido5"/>

  <joint name="us5" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido5"/>
    <origin rpy="0 0 3.1415" xyz="-0.3 0 0"/>
  </joint>

  <link name= "ultrasonido6"/>

  <joint name="us6" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido6"/>
    <origin rpy="0 0 -2.35613" xyz="-0.2 -0.2 0"/>
  </joint>

  <link name= "ultrasonido7"/>

  <joint name="us7" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido7"/>
    <origin rpy="0 0 -1.57075" xyz="0 -0.3 0"/>
  </joint>

  <link name= "ultrasonido8"/>

  <joint name="us8" type="fixed">
    <parent link="base"/>
    <child link="ultrasonido8"/>
    <origin rpy="0 0 -0.785375" xyz="0.2 -0.2 0"/>
  </joint>
 

</robot>
